/* Estilos personalizados */

/* Footer */
.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
}


/* Estilos personalizados para las imágenes dentro de los selectores */
.selector-img {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto; /* Hace que la altura se ajuste automáticamente para mantener la proporción de aspecto */
    max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
    display: block; /* Asegura que la imagen se muestre como un bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente dentro del contenedor */
}


/* Estilos personalizados */

/* Footer */
.footer {
    background-color: #343a40; /* Cambia el color de fondo del footer */
    color: #fff; /* Cambia el color del texto en el footer */
    padding: 20px 0;
  }
  
  /* Estilos para los enlaces en el footer */
  .footer a {
    color: #fff; /* Cambia el color de los enlaces */
  }
  
  .footer a:hover {
    color: #ccc; /* Cambia el color de los enlaces al pasar el cursor sobre ellos */
  }
  